<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/task4</property>
        <property name="hibernate.connection.username">db_user</property>
        <property name="hibernate.connection.password">1</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Annotated entity classes -->
        <mapping class="entity.Role"/>
        <mapping class="entity.User"/>
        <mapping class="entity.Group"/>
        <mapping class="entity.Message"/>
        <mapping class="entity.Settings"/>
        <mapping class="entity.DeveloperSettings"/>
        <mapping class="entity.SystemOsSettings"/>
        <mapping class="entity.SystemMemSettings"/>

    </session-factory>
</hibernate-configuration>